<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <h1>This is the help page!</h1>
      <h2>{{helptext}}</h2>
    </div>
    <footer>{{>footer}}</footer>
  </body>

</html>
